*{
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}
body button:hover {
    background-color: #d3caca;
    
}
.mid{
    display: flex;
    gap: 32px;
    padding-top: 12px;
}

.early-access button{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.hero-section {
    background: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    padding-top: 116px;
    padding-bottom: 179px;
    justify-items: center;
}
.hero-content-container{
    width: 85%;
    height: 56%;
    margin-top: 165 px;
    text-align: center;
}
.last-hero-buttons{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.btn1{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center; 
    gap: 10px;
}
.btn2{
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: 16px;
    display: flex;
    align-items: center; 
    gap: 10px;
}
.btn3{
    background-color: white;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;   
    margin: 0 auto;        
}

.circle{

    width: 16px;
    height: 16px;
    background-color: #30B86833;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
.circle2{
    width: 12px;
    height: 12px;
    background-color: #30B8686e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle3{
    width: 6px;
    height: 6px;
    background-color: #30B868;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header-text .line1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    margin: 16px;
}
.hero-header-text .line2{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    line-height: 84px;
    margin: 16px;
}
.hero-description-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
/* .cards-section{
     border: #6ca6db 5px solid; 
} */
.cards-title{
    text-align: center;
    margin-top: 64px;
    margin-bottom: 44px;
}

.title-text{
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    color: #001931;
    margin-bottom: 16px;
}
/* reuseable */
.description-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-right: 120px;
    margin-left: 120px;
/* bg Color checked using https://imagecolorpicker.com/ */
    background-color: #fbfbfb;

}
.card{
    text-align: center;
    padding: 70px 24px;
    padding-bottom: 24px;
    box-shadow: 0px -24px 30px #7e7a7a18; 
}

.card-icon{
    background-color: #F95555;
    width: 32px;
    height: 32px;
    padding: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
}
.card-name{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #001931;
    margin: 16px 0;
    padding: 0 16px;
}
.solution-section{
    padding: 120px;
    display: flex;
    gap: 60px;
}

.solution-list{
    margin: auto 0;
}
.green{
    color: #30B868;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.solution-title{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
}
.description{
    margin-top: 16px;
    margin-bottom: 40px;
}

.point{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #001931;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
}
.challenge-section{
    text-align: center;
    padding: 80px;
    margin: 0 120px 120px 120px;
    background-color: #F7F6F2;
    border-radius: 5px;
}
.challenge{
    margin-bottom: 24px;
}
.challenge .title{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    line-height: 48px;
    margin-bottom: 16px;
}
.challenge-button .btn1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.challenge-button .description-text{
    margin-top: 16px;
}
footer{
    background-color: #001931;
    padding: 120px 120px 0px 120px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    color: white;
    text-align: center;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    
}
.socials{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.socials .icons{
    display: flex;
    gap: 16px;
    justify-content: right;
    margin-top: 16px;

}

.copyright{
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    padding-bottom: 30px;
    
}
.copyright hr{
    border: #737577 1px solid;
    margin-bottom: 30px;
}