*{
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}
body button:hover {
    background-color: #d3caca;
    
}
.mid{
    display: flex;
    gap: 32px;
    padding-top: 12px;
}

.early-access button{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.hero-section {
    background: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: auto; */
    padding-top: 116px;
    padding-bottom: 179px;
    justify-items: center;
}
.hero-content-container{
    width: 85%;
    height: 56%;
    margin-top: 165 px;
    /* border: #000000 5px solid; */
    text-align: center;
}
.btn1{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn2{
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: 16px;
}
.btn3{
    background-color: white;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;   
    margin: 0 auto;        
}

.circle{

    width: 16px;
    height: 16px;
    background-color: #30B86833;
    /* opacity: 0.2; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
.circle2{
    width: 12px;
    height: 12px;
    background-color: #30B8686e;
    /* opacity: 0.4; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle3{
    width: 6px;
    height: 6px;
    background-color: #30B868;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header-text .line1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    margin: 16px;
}
.hero-header-text .line2{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    line-height: 84px;
    margin: 16px;
}
.hero-description-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
.cards-section{
    /* border: #6ca6db 5px solid; */
}
.cards-title{
    /* border: #001931 1px solid; */
    text-align: center;
    margin-top: 64px;
    margin-bottom: 44px;
}

.title-text{
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    color: #001931;
    margin-bottom: 16px;
}
/* reuseable */
.description-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-right: 120px;
    margin-left: 120px;
/* bg Color checked using https://imagecolorpicker.com/ */
    background-color: #fbfbfb;

}
.card{
    text-align: center;
    padding: 70px 24px;
    box-shadow: 0px 4px 16px #1d191918;
}

.card-icon{
    background-color: #F95555;
    width: 32px;
    height: 32px;
    padding: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
}
.card-name{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #001931;
    margin: 16px 0;
    padding: 0 16px;
}
.solution-section{
    padding: 120px;
    border:#ce2222 5px solid;
    display: flex;
    gap: 60px;
}
.solutions-image{
    /* border: #001931 2px solid; */
}
.solution-list{
    margin: auto 0;
}
.green{
    color: #30B868;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.solution-title{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
}
.description{
    margin-top: 16px;
    margin-bottom: 40px;
}

.point{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #001931;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}
.challenge-section{
    text-align: center;
    padding: 80px;
    margin: 0 120px 120px 120px;
    border: #001931 1px solid;
    background-color: #F7F6F2;
}
.challenge{
    border: #001931 1px solid;
    margin-bottom: 24px;
}
.challenge .title{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    line-height: 48px;
    margin-bottom: 16px;
}
.challenge-button{
    border: #001931 1px solid;
}
.challenge-button .description-text{
    margin-top: 16px;
}
