*{
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}
body button:hover {
    background-color: #d3caca;
    
}
.mid{
    display: flex;
    gap: 32px;
    padding-top: 12px;
}

.early-access button{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.hero-section {
    background: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 116px;
    padding-bottom: 179px;
    justify-items: center;
}
.hero-content-container{
    width: 85%;
    height: 56%;
    margin-top: 165 px;
    /* border: #000000 5px solid; */
    text-align: center;
}
.btn1{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn2{
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: 16px;
}
.btn3{
    background-color: white;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;   
    margin: 0 auto;        
}

.circle{

    width: 16px;
    height: 16px;
    background-color: #30B86833;
    /* opacity: 0.2; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
.circle2{
    width: 12px;
    height: 12px;
    background-color: #30B8686e;
    /* opacity: 0.4; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle3{
    width: 6px;
    height: 6px;
    background-color: #30B868;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header-text .line1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    margin: 16px;
}
.hero-header-text .line2{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    line-height: 84px;
    margin: 16px;
}
.hero-description-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}